<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout de note</title>
</head>
<body>
    
    <% if(note.id == -1) { %>
        <h2>Ajouter une note à <%= zone.name %></h2>
    <% } else { %>
        <h2>Mondifier une note</h2>
    <% } %>
    <form action="/notes/new" method="POST">
        Note : 
        <input type="text" name="description" value="<%= note.description %>"><br>
        <input type="hidden" name="bz_id" value="<%= note.bz_id %>" >
        <input type="hidden" name="note_id" value="<%= note.id %>">
        <input type="submit" name="sauver" value="Sauver"><br>
    </form>
</body>
</html>