<!-- <!DOCTYPE html>
<html lang="en">
<head>
    Page non utilisée car je rend finalement ces données dans Showzone 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i = 0; i < all_disciplines.length; i++){ %>
        <li><a href="/zone/"><%= all_disciplines[i].description %></a></li>
      <% } %>
</body>
</html> -->